body{
    padding-top: 100px;
}

.menu
{
    background-color: #00547E;
    border-bottom: 4px solid #04A3ED;
    width:100%;
    height: auto;
    padding: 0 10px;
    position: fixed;
    margin: 0px;
    z-index: 1;
    opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
    background-color : #04A3ED;
    color: white;
    font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
    font-size: 13px;
    color: white;
    padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
    background-color: #04A3ED;
}

.navbar-header > a
{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}


.navbar-header > a:hover
{
    text-decoration: none;
    color: #04A3ED;
}

.main-container{
    min-height: 500px;
}

/* footer */

.footer-container, hr.footer-fixed {
    height: 40px;
    background: rgba(231, 227, 255, 0);
}

/*Dropdown menu*/

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-login-session > a:hover{
    background: #fff;
}

.icon-size
{
    font-size: 87px;
}

[class*="assertion"]{
    display: block;
    width: 90%;
    height: auto;
    font-size: medium;
    border-color: #7b4d0d;
    text-align: center
}

[class*="attention"]{
   font-color : #ff8f41;
    font-style:italic ;
    text-align: center;
}

#result{
   margin-top: 1%;
    display: block;
    width: 90%;
    height: auto; ;
    border-color: #478cce;
    text-align: center;
}

#score{
    margin-top: 1%;
    display: block;
    width: 90%;
    height: auto;
    border-color: darkgreen;
    text-align: center;
}

[class*="contenu"]{
    width:600px;
    display:inline-block;
    margin-left:50px;
    overflow:visible;
}

div.lightImage {
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

div.lightImage:target {
    display: block;
    position: fixed;
    z-index: 20;
    background-color: rgba(100,100,100,.8);
    text-align: center;
    padding-top: 150px;
}

div.lightImage:target img {
    border: solid white 10px;
}